$Green: #0E9F6E;
$Light-green: #31C48D;
$Gray: #D2D6DC;
$White: #FFFFFF;
$Black: #000000;
$Fade-black:  #1C1C1E;
$Dark-gray: #9FA6B2;
$Light-gray: #E5E7EB;
$Brown: #70685B;
$Black-Brown: #303030;

// -----header-font---------
$header-fonts: "Neue Haas Grotesk Display Pro";
$text-fonts: 'DM Mono';

$Mulish: 'Mulish', sans-serif;





